@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap");

:root {
  --container-padding: 6.4rem;
  --shadow-color: rgba(0, 0, 0, 0.05);
  --color-green-light: #dbf0ec;
  --color-green-dark: #255b50;
  --color-grey-dark: #5c5c5c;
  --color-grey-light: #f5f5f5;
  --color-black: #1c1c1c;
  --color-heading: var(--color-green-dark);
  --color-text-grey: var(--color-grey-dark);
  --color-text-black: var(--color-black);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 62.5%; /* reset font size to 10px */
}

@media (max-width: 768px) {
  html,
  body {
    font-size: 50%;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
